<div class="todo-item">
  <div class="todo-item-left">
    <input type="checkbox" [(ngModel)]="todo.completed">
    <button class='back' (click)="todoService.cancelEdit(todo)">Cancel Edit</button>
    <div 
      *ngIf="!todo.editing; else showEditBox" 
      class="todo-item-label" 
      (dblclick)="todoService.editingTodo(todo)"
      [ngClass]="{ 'completed' : todo.completed }">
      {{ todo.title }}
    </div>
    <ng-template #showEditBox>
      <input 
        type="text" 
        class="todo-item-edit" 
        [(ngModel)]="todo.title" 
        autofocus 
        (blur)="todoService.doneEdit(todo)"
        (keyup.enter)="todoService.doneEdit(todo)">
    </ng-template>
  </div>
  <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
    &times;
  </div>
</div>
